#main-title {
    color: brown;
}
/*selettore del gat -> seleziona tutti i p*/
p {
    color: green;
}
/* seleziona tutti gli elementi con class=red-text */
.red-text{
    color: red;

}

.big-text {
    font-size: 24px;
}

/* inner-text nel yellow deve essere di colore viola */
/* inner text nel pink deve essere di colore marrone */

.yellow {
    background-color: yellow;
}
.yellow .inner-text {
    color: violet;
}

.pink {
    background-color: pink;
}

.pink .inner-text {
    color: brown;
}