body {
    font-family: 'Courier New', Courier, monospace;
}

#main-title {
    color: brown;
}
/*selettore del gat -> seleziona tutti i p*/
p {
    color: green;
}
/* seleziona tutti gli elementi con class=red-text */
.red-text{
    color: red;

}

.big-text {
    font-size: 24px;
}

/* inner-text nel yellow deve essere di colore viola */
/* inner text nel pink deve essere di colore marrone */

.yellow {
    background-color: yellow;
}
.yellow .inner-text {
    color: violet;
}

.pink {
    background-color: pink;
}

.pink .inner-text {
    color: brown;
}
.square {
    width: 100px;
    height: 100px;
    background-color: black;
}
div {
    display:block
}
.rectangle-image {
    width: 150px;
    height: 100px;
}

/*non si setta l'altezza al di fuori delle immagini*/

.border {
    /*border-width: 5px;
    border-color: blue;
    border-style: solid;*/
    border: 5px solid blue;
    border-bottom-color: orange;
    border-left-style: dotted;
}

.my-text {
    text-align: center;
}

.error {
    text-decoration: underline;
}

.box { 
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-image: url(../img/PHOTO-2021-02-27-20-02-30.jpg);
    background-position: center;
    background-size: contain;
}
